<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel ="stylesheet" href="/css/app.css" />
</head>
<body>
    <h1>Welcome to The John Deere App</h1>

    <ul class='equipment'>
        <% for (let i = 0; i < equipment.length; i++) { %>
            <li>
                <img src='<%=equipment[i].img%>'/>
                <br/>
                <a href='/equipment/<%=equipment[i].id%>'><%=equipment[i].modelName%></a>
                <br/>
            </li>
            <br/>
        <% } %>
        <a href="/attachment"> Attachments Page</a>
    </ul>

    

</body>
</html>