body {
    text-align: center;
    margin:0px;
    min-height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

h1 {
    background-color: lightgrey;
    color: black;
    margin: 0px 0px;
    padding: 20px;
    /* width: 100%; */
 }

 li {
     list-style: none;
 }

 a {
    text-decoration: none;
    color: yellow;
    background: green;
    padding: 5px;
    border: 5px solid yellow;
    border-radius: 5px;
 }

 .green {
    text-decoration: none;
    color: yellow;
    background: green;
    padding: 5px;
    border: 5px solid yellow;
    border-radius: 5px;
 }

 .black {
    text-decoration: none;
    color: black;
    background: #e9da0a;
    padding: 5px;
    border: 5px solid black;
    border-radius: 5px;
 }

 #logo{
    height: 40px;
    width: 40px;
    padding-bottom: 5px; 
 }

 footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    background: lightgrey;
    margin: 100px 0px 0px 0px;
    padding: 4px;
    position: fixed;
    bottom: 0px;
    width: 100%;
 }

 .agriculture {
     background: green;
     padding: 15px;
 }

 .construction {
    background: #e9da0a;
    padding: 15px;
}

 .left {
     float: left;
     width: 50%;
     margin-left: -20px;
 }

 .right {
     float: right;
     width: 50%;
     margin-right: 20px;
 }

 .machine {
    width: 35vw;
    height: 25vw;
 }

 