body {
    /* text-align: center; */
    margin:0px;
    min-height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

h1 {
    background-color: lightgrey;
    text-align: center;
    color: black;
    margin: 0px 0px;
    padding: 20px;
    /* width: 100%; */
 }

 .op {
     /* margin: 0px 50% 0px 50%; */
     margin-left: 40px;
 }

 li {
     list-style: none;
     display: inline;
 }

 a {
    text-decoration: none;
    color: yellow;
    background: green;
    padding: 5px;
    border: 5px solid yellow;
    border-radius: 5px;
}

 #logo{
    height: 40px;
    width: 40px;
    padding-bottom: 5px; 
 }

 footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    background: lightgrey;
    margin: 100px 0px 0px 0px;
    padding: 4px;
    position: fixed;
    bottom: 0px;
    width: 100%;
 }

.buttons {
    text-align: center;
}

.gif {
    float: right;
    margin: 50px 100px 0px 0px;
    width: 50vw;
    height: 35vw;
}