body {
    text-align: center;
    margin:0px;
    min-height: 100%;
    width: 100%;
}
a {
   text-decoration: none;
   color: yellow;
   background: green;
   padding: 5px;
   border: 5px solid yellow;
   border-radius: 5px;
}
img {
   width: 45%;
   height: 30%;
}
h1 {
   background-color: lightgrey;
   color: black;
   margin: 0px 0px;
   padding: 20px;
   /* width: 100%; */
}
#logo{
   height: 3%;
   width: 3%;
   padding-bottom: 5px; 
}
footer {
   display: flex;
   justify-content: space-around;
   align-items: flex-end;
   background: lightgrey;
   margin: 100px 0px 0px 0px;
   padding: 4px;
   position: absolute;
   bottom: 0px;
   width: 98.7%;
}
.profile {
    float: right;
    margin: 75px 50px;
    border: 5px solid black;
}
li {
    list-style: none;
}
.info {
    border: 5px solid black;
    background-color: lightgrey;
    width: 40%;
    margin: 50px, 50px;
}