<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel ="stylesheet" href="/css/users_index.css" />
</head>
<body>
    <h1>Welcome to The John Deere App</h1><br/><br/>
    <div>
    <img src="https://i.imgur.com/h8UAryR.jpg" />
    <img src="https://i.imgur.com/L7zJweE.jpg" /><br/><br/><br/>
        </div>
    <a href = "users/signup">Sign Up</a><br/><br/><br/>
    <a href = "users/login">Log In</a>

    <footer>
        <img id="logo" src="https://i.imgur.com/bxF7QSr.png" />
        <p>Created by: Nels WickLund & Camden Yoder</p>
        <p>John Deere App</p>
    </footer>
</body>

</html>