<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel ="stylesheet" href="/css/app.css" />
</head>
<body>
    <h1>Login</h1>
    <%=msg%>
    <form action="/users/login" method="POST">
        Username: <input type="text" name="username" value=''/></br><br/>
        Password: <input type="text" name="password" value=''/></br><br/>
        <input type ="submit" name="" value="Log in" />
    </form>
</body>
</html>