<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel ="stylesheet" href="/css/app.css" />
</head>
<body>
    <h1>Sign Up</h1>
    <h3><%=msg%></h3>
    <form action="/users/signup" method="POST">
        Name: <input type="text" name="name" value="<%=user.name%>" /></br>
        Username: <input type="text" name="username" value="<%=user.username%>" required/></br>
        Password: <input type="text" name="password" required/></br>
        <input type ="submit" name="" value="Sign Up" />
    </form>
</body>
</html>